.gitignore
testignore.txt 

.DS_Store
#直接定義要忽略的副檔名
*.log
#忽略以log結尾的檔案
!important.log
#但不忽略important.log檔案

hello.*
#忽略所有檔名為hello的檔案，無論副檔名為何

image*
#忽略所有image開頭的檔案，包括目錄

/Test
#只會忽略本資料夾的Test根目錄，其他根目錄若有子目錄/Test則不會受影想。

